
# hicpp-signed-bitwise: disabled because it results in a lot of false positives
Checks: >
  *,
  -llvmlibc-restrict-system-libc-headers,
  -altera-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -hicpp-signed-bitwise,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -bugprone-easily-swappable-parameters,
  -llvm-header-guard,
  -modernize-deprecated-headers,

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: '35'
WarningsAsErrors: '*'
HeaderFilterRegex: '^((?!murmur3).)*$'